body{
  margin : 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app
{
  display :flex;
  flex-direction: column;
  background-color: #262a2b;
}

/* NAVBAR  */
.nav-container
{
  display:flex;
  justify-content: space-between;
  height:72px;
  align-items: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 99;
}
.nav-left
{
  display: flex;
  align-items: center;
}
.nav-right
{
  margin-right: 20px;
}
.flash-logo
{
  margin-left: 16px;
  height: 40px;
}

.flash-logo-text
{
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0 10px;
  color: #e7e6e7;
}
.nav-link
{
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #e7e6e7;
  font-weight: 800;
}

/* Landing Page */
.landing-container {
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #eee2ee;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}

.landing-header {
  font-size: 92px;
  margin: 0;
  letter-spacing: 4px;
}

.typewriter-container {
  font-size: 64px;
  letter-spacing: 2px;
}

.flash-image {
  width: 40vw;
}

@media (max-width: 800px) {
  .landing-container {
      flex-direction: column;
      align-items: center;
  }

  .flash-image {
      width: 80vw;
  }

  .landing-header {
      margin-top: 32px;
      text-align: center;
  }

  .typewriter-container {
      text-align: center;
  }
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 99;
}

.footer-link {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  /* color: #34353b; */
  color: #e7e6e7;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}