body{
  margin : 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app
{
  display :flex;
  flex-direction: column;
  background-color: #262a2b;
}

/* NAVBAR  */
.nav-container
{
  display:flex;
  justify-content: space-between;
  height:72px;
  align-items: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 99;
}
.nav-left
{
  display: flex;
  align-items: center;
}
.nav-right
{
  margin-right: 20px;
}
.flash-logo
{
  margin-left: 16px;
  height: 40px;
}

.flash-logo-text
{
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0 10px;
  color: #e7e6e7;
}
.nav-link
{
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #e7e6e7;
  font-weight: 800;
}

/* Landing Page */
.landing-container {
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #eee2ee;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}

.landing-header {
  font-size: 92px;
  margin: 0;
  letter-spacing: 4px;
}

.typewriter-container {
  font-size: 64px;
  letter-spacing: 2px;
}

.flash-image {
  width: 40vw;
}

@media (max-width: 800px) {
  .landing-container {
      flex-direction: column;
      align-items: center;
  }

  .flash-image {
      width: 80vw;
  }

  .landing-header {
      margin-top: 32px;
      text-align: center;
  }

  .typewriter-container {
      text-align: center;
  }
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 99;
}

.footer-link {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  /* color: #34353b; */
  color: #e7e6e7;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

/* Challenge Section */
.challenge-section-container {
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

.challenge-section-header {
  text-align: center;
  color: #fbf6fb;
  font-family: "Bangers", cursive;
  font-size: 64px;
  letter-spacing: 4px;
}

/* Test Container */

.test-container {
  background-color: #ffffff;
  margin: 64px 0;
  margin-left: 10%;
  width: 80%;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.typing-challenge-container {
  display: flex;
  flex-grow: 1;
}

.try-again-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Try Again */

.try-again-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.try-again-container > h1 {
  text-decoration: underline;
  margin: 0;
  font-size: 36px;
  margin-bottom: 20px;
}

.result-container > p {
  font-size: 28px;
  margin: 7px;
}

.end-buttons {
  position: relative;
  margin: 12px;
  border: none;
  border-radius: 4px;
  padding: 2px 16px;
  min-width: 64px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.start-again-btn {
  background: #3e4248;
}

.start-again-btn:hover,
.start-again-btn:focus {
  background: #808080;
}

.share-btn {
  background: #3b5998;
}

.share-btn:hover,
.share-btn:focus {
  background: #5d7dc4;
}

.tweet-btn {
  background: #1da1f2;
}

.tweet-btn:hover,
.tweet-btn:focus {
  background: #8faef3;
}
/* Typing Challenge */
.typing-challenge-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.typewriter-container {
  display: flex;
  flex-grow: 1;
}

/* Challenge Section */

/* Challenge Details */